<%- include('../includes/head.ejs') %>
    </nav>
    <main>
      <% for ( let product of prods ) { %>
        <div class="mx-auto card" style="width: 22rem;">
          <div class="card-body">
    
                    <img src="/<%= product.imageURL %>" class="card-img-top" alt="url not fetched">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.title %></h5>
                      <p class="card-text">Price: <%= product.price %></p>
                      <p class="card-text"><%= product.description %></p>
                      <div>
                        <a href="/" class="btn btn-sm btn-primary">Go Back</a>
                        <% if (isAuthenticated) { %>
                        <span >
                          <a href="/products/addToCart/<%= product._id %>" class="btn btn-sm btn-outline-info ms-4 " >Add to Cart</a>
                        </span>
                        <% } %>
                    </div>
                      <% let time= ((new Date() - product.Date)/1000) < 60 ? `${Math.floor((new Date() - product.Date)/1000)} Seconds` : `${Math.floor((new Date() - product.Date)/60000)} Minutes` %>
                    <% if(((new Date() - product.Date)/60000)>60) time= `${Math.floor((new Date() - product.Date)/3600000)} hours` %>
                    <% if(((new Date() - product.Date)/3600000)>24) time= `${Math.floor((new Date() - product.Date)/(3600000*24))} day(s)` %>

                      <p class="card-text"><small class="text-muted">Last updated <%= time %> ago</small></p>
                    </div>    
          </div>
        </div>
        <% } %>
          
      <!-- </div> -->
    </main>
    <%- include('../includes/end.ejs') %>

